@media screen and (min-width: 1920px) {
    /* START DEFAULT STYLING */
    .page-header {
        margin: var(--size-56) 0;
    }
    /* END DEFAULT STYLING */

    /* START ALLPOSTS STYLING */

    #sort-container {
        display: flex;
        justify-content: center;
        margin: 52px 0;
    }
    /* END ALLPOSTS STYLING */
}

@media screen and (max-width: 1280px) {
    /* START CONTACT STYLING */
    .theme-button-container {
        top: 30%;
    }
    /* END CONTACT STYLING */
}

@media screen and (max-width: 962px) {
    /* START DEFAULT STYLING */
    .theme-button-container {
        right: 0;
    }
    /* END DEFAULT STYLING */

    /* START CONTACT STYLING */
    form div input, form div textarea {
        width: 96%;
    }

    form button {
        width: 99%;
    }
    /* END CONTACT STYLING */
}

@media screen and (max-width: 810px) {
    /* START DEFAULT STYLING */
    #logo-part {
        width: 55%;
    }

    .theme-button-container button:first-child {
        margin-bottom: var(--size-28);
    }

    .theme-button-container .switcher-btn i {
        padding:var(--size-8);
    }
    /* END DEFAULT STYLING */

    /* START ALLPOSTS STYLING */
    #sort-container #to-ascending-link, #sort-container #to-descending-link {
        padding: 3%;
    }

    .search-container {
        width: 37%;
    }

    #post-previews-container div:nth-child(3) {
        transform: none;
        opacity: 1;
        transition: none;
    }
    /* END ALLPOSTS STYLING */

    /* START CONTACT STYLING */
    .contact-one {
        margin-bottom: var(--size-32);
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
    }
    /* END CONTACT STYLING */
}

@media screen and (max-width: 800px) {
    /* START ALLPOSTS STYLING */
    
    /* END ALLPOSTS STYLING */
}

@media screen and (max-width: 768px) {
    /* START DEFAULT STYLING */
    .theme-button-container {
        right: 0;
    }

    .theme-button-container {
        position: absolute;
        right: 3%;
        top: 2%;
        flex-direction: row;
    }

    .theme-button-container button:first-child {
        margin-bottom: 0;
    }
    /* END DEFAULT STYLING */
}

@media screen and (max-width: 601px) {
    /* START DEFAULT STYLING */
    .socials-panel {
        display: none;
    }

    .theme-button-container .switcher-btn i {
        padding:var(--size-8);
    }
    /* END DEFAULT STYLING */

    /* START FULL ARTICLE STYLING */
    #full-article-page-container {
        width: 108%;
    }

    #author-info {
        justify-content: space-between;
    }

    .full-article-body-container {
        margin: 2% 3%;
    }
    /* END FULL ARTICLE STYLING */
}

@media screen and (max-width: 414px) {
    /* START DEFAULT STYLING */
    body {
        width: 167%;
    }

    .theme-button-container {
        right: -60%;
    }

    .theme-button-container button:first-child {
        margin-right: 17%;
    }

    .theme-button-container .switcher-btn i {
        font-size: var(--size-36);
    }

    #global-header-nav {
        margin: 15% 0;
    }
    /* END DEFAULT STYLING */

    /* START index.html STYLING */
    #post-previews-container div:nth-child(2) {
        transform: none;
        opacity: 1;
        transition: none;
    }
    /* END index.html STYLING */

    /* START ALLPOSTS STYLING */
    #topic-links-nav {
        margin: 8% 8%;
    }

    #topic-links-nav a {
        font-size: var(--size-24);
    }
    /* END ALLPOSTS STYLING */

    /* START CONTACT STYLING */
    .page-header {
        margin: 7% 0;
    }

    form {
        row-gap: var(--size-48);
    }
    /* END CONTACT STYLING */

    /* START FULL ARTICLE STYLING */
    #full-article-page-container {
        width: 95%;
    }
    /* END FULL ARTICLE STYLING */
}

@media screen and (max-width: 412px) {
    /* START DEFAULT STYLING */
    body {
        width: 170%;
    }

    .theme-button-container {
        right: -65%;
    }
    /* END DEFAULT STYLING */
}

@media screen and (max-width: 360px) {
    /* START DEFAULT STYLING */
    body {
        width: 189%;
    }

    .theme-button-container {
        right: -88%;
    }
    /* END DEFAULT STYLING */
}