/* STYLING OF POST PREVIEWS, TO BE DISPLAYED ON index.html & allposts.html */
.hide-preview {
    display: none;
}

.reveal {
    position: relative;
    transform: translateY(10px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

#post-previews-homepage,
#post-previews-all {
    margin: 0 6%;
}

/* First item on pages with post previews should appear with no transition */
#post-previews-homepage div:first-child,
#post-previews-all div:first-child {
    transform: none;
    opacity: 1;
    transition: none;
}

.post-preview {
    padding: 2%;
    border: 2px solid gray;
    margin-top: var(--size-20);
}

.post-preview a:hover {
    cursor: pointer;
    opacity: 0.8;
}

.post-preview h1,
.preview-author-date h2,
.post-preview p {
    color: var(--default-text-color);
}

.post-preview h1 {
    font-size: var(--size-48);
    margin: var(--size-8) 0;
}

.preview-author-date {
    margin-left: 15%;
}

.preview-author-date h2 {
    width: 575%;
}

.preview-author-date header {
    color: gray;
    width: 320%;
    letter-spacing: 2px;
    font-size: 20px;
}

.author-info-container {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-between;
}

.author-info-container img {
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.post-preview p {
    font-size: var(--size-24);
}

.read-more-link {
    text-transform: lowercase;
    text-decoration: underline;
    color: var(--theme-color-primary);
    letter-spacing: 1px;
    font-weight: 700;
}
/* END OF POST PREVIEWS STYLING */