/* STYLING OF TOPIC-LINKS NAVBAR, DISPLAYED ON ALLPOSTS PAGES */
#topic-links-nav {
    margin: 2% 25%;
}

#topic-links-nav a {
    text-transform: uppercase;
    font-family: var(--main-font);
}

#topic-links-nav a:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* STYLING OF POST PREVIEWS, TO BE DISPLAYED ON index.html & allposts */
#sort-container {
    display: flex;
    justify-content: center;
}

.sort-items-container {
    display: flex;
    width: 87%;
    align-items: center;
    justify-content: space-evenly;
}

.search-container {
    display: flex;
    width: 22%;
}

#search-label {
    display: flex;
    width: 100%;        
}

#search-label i {
    color: var(--default-text-color);
    background-color: var(--theme-color-primary);
    padding: 4% 5%;
    margin-left: 1%;
    display: flex;
    align-items: center;

}

#search-label i:hover {
    opacity: 0.8;
    cursor: pointer;
}

#search {
    border: 2px solid var(--theme-color-primary);
    padding: 4%;
    width: 134%;
    font-weight: 800;
    font-family: 'Dosis', sans-serif;
    font-size: var(--size-16);
}

#search:active {
    border: 2px solid var(--default-text-color);
}

#sort-container #to-ascending-link,
#sort-container #to-descending-link {
    color: var(--default-text-color);
    padding: 1%;
    background-color: var(--theme-color-primary);
    border: 0;
    border-radius: var(--size-12);
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
}

#sort-container a:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

.hide-preview {
    display: none;
}

.reveal {
    position: relative;
    transform: translateY(10px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

#post-previews-container {
    margin: 0 6%;
}

.post-preview {
    padding: 2%;
    border: 2px solid gray;
    margin-top: var(--size-20);
}

.post-preview a:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* First item on pages with post previews should appear with no transition */
#post-previews-container div:first-child
/* #post-previews-container div:first-child */ {
    transform: none;
    opacity: 1;
    transition: none;
}

.post-preview h1,
.preview-author-date h2,
.post-preview p {
    color: var(--default-text-color);
}

.post-preview h1 {
    font-size: var(--size-48);
    margin: var(--size-8) 0;
}

.preview-author-date {
    margin-left: 15%;
}

.preview-author-date h2 {
    width: 575%;
}

.preview-author-date header {
    color: gray;
    width: 320%;
    letter-spacing: 2px;
    font-size: 20px;
}

.author-info-container {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-between;
}

.author-info-container img {
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.post-preview p {
    font-size: var(--size-24);
}

.read-more-link {
    text-transform: lowercase;
    text-decoration: underline;
    color: var(--theme-color-primary);
    letter-spacing: 1px;
    font-weight: 700;
}

.results-message {
    display: none;
    color: var(--default-text-color);
    /* margin: 5% 0;
    text-align: center; */
}

.rm-active {
    display: block;
    margin: 4% 0;
    text-align: center;
}
/* END OF POST PREVIEWS STYLING */

/* START about.html STYLING */
.about-page-body-container {
    background: url(../assets/images/about-page-bg.jpg);
    background-attachment: fixed;
    padding: 24px;
    margin: 2% 11%;
    font-size: var(--size-32);
    text-align: center;
}

.about-page-body-container p {
    color: white;
    background-color: rgba(0,0,0,0.6);
    border-radius: var(--size-16);
}
/* END about.html STYLING */

/* START contact.html STYLING */
.contact-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.contact-one {
    display: flex;
    flex-direction: column;
}

.contact-page-social-icons-container {
    margin: 7% 0 7% 0;
}

.contact-page-social-icons-container a {
    color: var(--theme-color-primary);
}

.contact-page-social-icons-container a:hover {
    color: var(--default-text-color);
}

.contact-container header {
    font-size: 32px;
    color: var(--default-text-color);
}

.contact-container header span a {
    color: var(--theme-color-primary);
}

.contact-two header {
    text-align: center;
}

form {
    display: grid;
    row-gap: var(--size-16);
    text-align: left;
}

form label {
    font-family: var(--main-font);
    text-transform: uppercase;
    color: var(--default-text-color);
    font-size: var(--size-24);
}

form div input,
form div textarea {
    font-family: var(--main-font);
    padding: var(--size-8);
    width: 100%;
    font-size: var(--size-16);
}

form button {
    width: 103%;
    background-color: var(--theme-color-primary);
    text-transform: uppercase;
    padding: 2%;
    border: 4px solid transparent;
    color: var(--default-text-color);
}

form button:hover {
    background-color: transparent;
    border: 4px solid var(--default-text-color);
    cursor: pointer;
}
/* END contact.html STYLING */

/* START FULL-ARTICLE PAGES STYLING */
.full-article-info.full-article-page {
    text-align: center;
}

.full-article-info h1 {
    color: var(--default-text-color);
    font-size: var(--size-48);
    margin: 3% 11%;
}

.author-info-container.full-article-page {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.author-info-full-article-page {
    display: flex;
    align-items: center;
    width: 10%;
}

.prev-topic-link {
    text-transform: uppercase;
    text-decoration: underline;
    font-family: var(--main-font);
    color: var(--theme-color-primary);
    font-weight: 700;
}

.preview-author-date.full-article-page {
    margin-left: 8%;
    text-align: left;
}

.author-socials a {
    color: var(--default-text-color);
}

.author-socials a:hover {
    color: var(--theme-color-primary);
}

.full-article-body-container {
    margin: 2% 14%;
}

.full-article-body-container p {
    font-size: var(--size-24);
    color: var(--default-text-color);
}

.article-first-letter  {
    font-size: var(--size-48);
    font-weight: 700;
}

.share-this-btns {
    border-top: 2px dashed gray;
    border-bottom: 2px dashed gray;
    padding-bottom: 1%;
    margin: 0 10% 0 10%;
}

.share-this-btns header {
    font-size: var(--size-32);
    color: var(--default-text-color);
    text-align: center;
    margin-bottom: 2%;
}
/* END FULL-ARTICLE PAGES STYLING */