/* THIS DOCUMENT CONTAINS STYLING OF THINGS THAT ARE PRESENT ON EVERY PAGE */
:root {
    --size-8: 0.5rem;
    --size-12: 0.75rem;
    --size-16: 1rem;
    --size-20: 1.25rem;
    --size-24: 1.5rem;
    --size-28: 1.75rem;
    --size-32: 2rem;
    --size-40: 2.5rem;
    --size-48: 3rem;
    --size-56: 3.5rem;
    --size-64: 4rem;
    --bg: white;
    --default-text-color: black;
    --default-text-color-reverse: white;
    --theme-color-primary: #ff7cef;
    --main-font: 'Dosis', sans-serif;
}

body {
    background-color: var(--bg);
}

.page-header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: var(--default-text-color);
}

h1,
h2,
header,
p {
    font-family: var(--main-font);
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--default-text-color);
}

/* STYLING OF SOCIALS PANEL */
.socials-panel {
    position: fixed;
    top: 50%;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.socials-panel a {
    font-size: var(--size-32);
    padding: 12px;
    color: white;
    text-align: center;
}

.socials-panel a:hover {
    opacity: 0.8;
    cursor: pointer;
}

#socials-panel-fb {
    background-color: #3b5998;
}

#socials-panel-tw {
    background-color: #1da1f2;
}

#socials-panel-ig {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

/* STYLING OF LIGHT/DARK THEMES AND THE TOGGLER:
/* Colors that should be changed when theme is dark */
/* Whichever data theme that's defined below is the default */
[data-theme="dark"] {
    --bg: black;
    --default-text-color: white;
    --default-text-color-reverse: black;
}

/* This is the panel where user can toggle themes */
.theme-panel {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 100;
    transition: 0.4s;
    transform: translateX(100%); /* This hides the panel. Panel doesn't include the arrow to show/hide it */
}

/* Adding .open (done with JS) will show the panel */
.theme-panel.open {
    transform: translateX(0);
}

/* This styles the body of the theme panel, which contains the heading & toggle buttons */
.theme-panel-body {
    background-color: var(--theme-color-primary);
    border: transparent;
    max-width: 185px;
    padding: 15px 13px;
    text-align: center;
    border-bottom-left-radius: 25px;
    position: relative;
}

/* Styles the heading in the theme panel */
.theme-panel-body > span {
    color: var(--default-text-color-reverse);
    font-size: 13px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 8px;
    display: inline-flex;
    font-family: Dosis, sans-serif;
    text-transform: uppercase;
    font-size: var(--size-20);
}

/* Styles the container of the buttons in the theme-panel */
.theme-panel-body .btn-group {
    /* box-shadow: 12px 34px rgba(22, 28, 45, 0.7); */
    border-radius: 33px;
    background-color: white;
    overflow: hidden;
    display: flex;
    max-width: 153px;
}

/* Styles the toggle button that is not selected */
.theme-panel-body .btn-group .switcher-btn {
    background: transparent;
    border: none;
    width: 50%;
    font-size: 11px;
    font-weight: 700;
    height: 42px;
    padding-left: 15px;
    padding: 15px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

/* Styles toggle button that is active */
.theme-panel-body .btn-group .switcher-btn.active {
    background-color: #ced4e7;
}

/* Styles the tab to show/hide the theme panel */
.theme-panel-body .theme-tab {
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 50px;
    border: 0;
    background: var(--theme-color-primary);
    color: var(--default-text-color);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    left: 1px;
}

/* Styles the icon in the theme tab */
.theme-tab i {
    font-size: 1rem;
    transition: 0.4s;
    pointer-events: none;
}

/* Inverts the icon when the theme panel is open */
.theme-panel.open .theme-tab i {
    transform: scaleX(-1);
}

/* Styles all .btn & button that don't have pseudoclass :disabled or .disabled class */
.btn:not(:disabled):not(.disabled),
button:not(:disabled):not(.disabled) {
    cursor: pointer;
}

/* STYLING OF GLOBAL HEADER AND ITS ELEMENTS */
#global-header {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    font-family: var(--main-font);
    border-bottom: 2px solid gray;
    padding-bottom: var(--size-16);
}

#global-header-logo-and-headings {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#logo-part {
    width: 28%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-part:hover {
    cursor: pointer;
    opacity: 0.8;
}

#logo-part img {
    width: 75%;
    max-width: 100%;
}

#logo-part header {
    display: inline;
}

#logo-headers {
    margin-top: -18px;
    display: flex;
    flex-direction: column;
}

#logo-headers header:first-child {
    font-size: var(--size-28);
}

#logo-headers header:nth-child(2) {
    font-size: var(--size-20);
}

#global-header-nav {
    width: 50%;
}

#global-header-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-evenly;
}

#global-header-nav ul a {
    font-size: var(--size-24);
    padding-bottom: 4px;
}

#global-header-nav ul a:hover {
    color: var(--theme-color-primary);
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 4px solid var(--theme-color-primary);
}

/* STYLING OF FOOTER AND ITS ELEMENTS */
footer {
    text-align: center;
    font-size: var(--size-16);
    color: gray;
    margin-top: var(--size-56);
}

#socials a,
.contact-page-socials-container a {
    color: gray;
    font-size: var(--size-40);
    margin-right: var(--size-40);
}

#socials a:last-child,
.contact-page-socials-container a:last-child {margin-right: 0;}

#socials a:hover,
.contact-page-socials-container a:hover {
    cursor: pointer;
    opacity: 0.8;
}